.Counter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Button{
    padding: 24px;
    margin: 24px;
    align-self: center;
    font-size: 80px;
    color: antiquewhite;
    width: 300px;
    height: 300px;
    border-radius: 16px;
    border-color: orange;
    background-color: rgb(255, 111, 0);
}

.Result{
    padding: 40px;
    width: 300px;
    font-size: 80px;
    padding: 24px;
    border-radius: 16px;
    align-self: center;
    background-color: rgb(220, 180, 128);
}